<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GoTasks</title>
  <link rel="stylesheet" type="text/css" href="/site/static/css/index.css">
  <script src="/site/static/js/index.js"></script>
</head>
  <body>
    <div class="topnav" id="myTopnav">
      <a href="#" class="active">Home</a>
      <a href="#">Dashboard</a>
      <a href="#">My Projects</a>
      <a href="#">About</a>
      <div class="right">
        <button class="btn-login">Se connecter</button>
        <button class="btn-signup">Créer un compte</button>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>

    <div id="signin" class="signin">
      <span onclick="document.getElementById('signin').style.display='none'" class="close" title="Close signin">Close</span>
      <form class="signin-content" action="/signin" method="post">
        <div class="container">
          <h1>Sign In</h1>
          <p>Please fill in this form to connect to your account.</p>
          <hr>
          <label><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>

          <label><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>

          <div class="clearfix">
            <button type="button" onclick="document.getElementById('signin').style.display='none'" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign In</button>
          </div>
        </div>
      </form>
    </div>

    <div id="signup" class="signup">
      <span onclick="document.getElementById('signup').style.display='none'" class="close" title="Close signup">Close</span>
      <form class="signup-content" action="/register" method="post">
        <div class="container">
          <h1>Sign Up</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>
          <label><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>

          <label><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>

          <div class="clearfix">
            <button type="button" onclick="document.getElementById('signup').style.display='none'" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>